<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>充充电自习室管理员登录</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- stylesheet css -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" href="../static/css/templatemo-blue.css" th:href="@{/css/templatemo-blue.css}">
	<link rel="stylesheet" href="../static/css/diy.css" th:href="@{/css/diy.css}">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- header section -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="images/tm-easy-profile.png" th:src="@{/images/tm-easy-profile.png}" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
				<h1 class="diy-title bold shadow">Management system of charging study room</h1>
				<h5 class="tm-title bold shadow">充充电自习室管理员登录系统</h5>
				<a href="#" th:href="@{/admin/manage}"><button class="my-btn" id="btn">Login</button></a>
			</div>
		</div>
	</div>
</header>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright &copy; 2020. Design by Zhao Yang</p>
				<ul class="social-icons">
					<li><a target="_blank" href="tencent://message/?uin=1837182816&site=www.qq.com&menu=yes" class="fa fa-qq"></a></li>
					<li><a href="https://github.com/yz1837182816" class="fa fa-github"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- javascript js -->	
<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.backstretch.min.js" th:src="@{/js/jquery.backstretch.min.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>
</html>